[Unit]
Description=OpenScan3 backend api
After=network.online.target
Wants=network.online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/OpenScan3
ExecStart=uvicorn app.main:app --host 0.0.0.0

[Install]
WantedBy=multi-user.target
